<nav class="menu-drawer__navigation" data-animate="" data-animate-delay-1="">
    <ul class="menu-drawer__menu list-menu" role="list"><li><a href="/collections/saree" class="menu-drawer__menu-item list-menu__itemfocus-inset">
              Saree
            </a></li><li><a href="/collections/kurta-set" class="menu-drawer__menu-item list-menu__itemfocus-inset">
              Kurta Set
            </a></li><li><a href="/collections/silk-saree-sale" class="menu-drawer__menu-item list-menu__itemfocus-inset">
              Silk Saree Sale
            </a></li><li><a href="/collections/festive-collection" class="menu-drawer__menu-item list-menu__itemfocus-inset">
              Festive Sale
            </a></li><li><details>
              <summary>
                <span class="menu-drawer__menu-item list-menu__item animate-arrow focus-inset menu-drawer__menu-item--active">Trending Now<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-arrow" fill="none" viewBox="0 0 14 10">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
</svg><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-caret" fill="none" viewBox="0 0 24 15">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 15c-.3 0-.6-.1-.8-.4l-11-13C-.2 1.2-.1.5.3.2c.4-.4 1.1-.3 1.4.1L12 12.5 22.2.4c.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4l-11 13c-.1.2-.4.3-.7.3z" fill="currentColor"></path>
</svg></span>
              </summary>
              <div id="link-Trending Now" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                <div class="menu-drawer__inner-submenu">
                  <div class="menu-drawer__topbar">
                    <button type="button" class="menu-drawer__close-button focus-inset" aria-expanded="true" data-close="">
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-arrow" fill="none" viewBox="0 0 14 10">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
</svg>
                    </button>
                    <a class="menu-drawer__menu-item" href="/">Trending Now</a>
                  </div>
                  <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1"><li><a href="/collections/onam-sarees" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Onam Sarees
                          </a></li><li><a href="/collections/durga-puja" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Durja Puja Sale
                          </a></li><li><a href="/collections/premium-sarees" class="menu-drawer__menu-item list-menu__item focus-inset menu-drawer__menu-item--active" aria-current="page">
                            Premium Sarees
                          </a></li><li><a href="/collections/embellished-sarees" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Swarovski Sarees
                          </a></li><li><a href="/collections/indian-weaving-silk" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Indian Weaving Silk
                          </a></li><li><a href="/collections/ganesh-chaturthi-sale" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Ganesh Chaturthi Sale
                          </a></li><li><a href="/collections/pre-drapped-saree" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Ready To Wear Sarees
                          </a></li><!-- <li>
                      <a href="/collections/sale" class="menu-drawer__menu-item list-menu__itemfocus-inset">
                          Rewards
                      </a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </details></li><li><details>
              <summary>
                <span class="menu-drawer__menu-item list-menu__item animate-arrow focus-inset">Western Wear<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-arrow" fill="none" viewBox="0 0 14 10">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
</svg><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-caret" fill="none" viewBox="0 0 24 15">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 15c-.3 0-.6-.1-.8-.4l-11-13C-.2 1.2-.1.5.3.2c.4-.4 1.1-.3 1.4.1L12 12.5 22.2.4c.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4l-11 13c-.1.2-.4.3-.7.3z" fill="currentColor"></path>
</svg></span>
              </summary>
              <div id="link-Western Wear" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                <div class="menu-drawer__inner-submenu">
                  <div class="menu-drawer__topbar">
                    <button type="button" class="menu-drawer__close-button focus-inset" aria-expanded="true" data-close="">
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-arrow" fill="none" viewBox="0 0 14 10">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
</svg>
                    </button>
                    <a class="menu-drawer__menu-item" href="/">Western Wear</a>
                  </div>
                  <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1"><li><a href="/collections/dresses" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Dresses
                          </a></li><li><a href="/collections/tops" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Top
                          </a></li><li><a href="/collections/co-ords" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Co-Ords
                          </a></li><li><a href="/collections/bodycons" class="menu-drawer__menu-item list-menu__item focus-inset">
                            Bodycon
                          </a></li><!-- <li>
                      <a href="/collections/sale" class="menu-drawer__menu-item list-menu__itemfocus-inset">
                          Rewards
                      </a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </details></li><li class="iwMobHeader">
        <a href="#" class="iwish-float-icon menu-drawer__menu-item list-menu__itemfocus-inset">
              Wishlist
              (<span class="iwish-counter"></span>)
        </a>
      </li>
      
    </ul>
  </nav>
